{
  "ADMOB_ANDROID_APP_ID": "ca-app-pub-REPLACE_WITH_PUBLISHER_ID~REPLACE_WITH_APP_ID",
  "ADMOB_REWARDED_AD_UNIT_ID": "ca-app-pub-REPLACE_WITH_PUBLISHER_ID/REPLACE_WITH_REWARDED_UNIT_ID",
  "ADMOB_INTERSTITIAL_AD_UNIT_ID": "ca-app-pub-REPLACE_WITH_PUBLISHER_ID/REPLACE_WITH_INTERSTITIAL_UNIT_ID"
}
